.popup-overlay{
    position:fixed;
    top:10px;
    left:10px;
    max-width:300px;
    height:max-content  ;
    padding:20px;
    background-color:#205295;
    border-radius:20px;
    color:white;

    & button{
        font-size:18px;
        border:none;
        background:transparent;
        color:black;
    }
}

.popup-content{
    display:flex;
    flex-direction:column;
    gap:1rem;
}