.popup-overlay{
    position:fixed;
    bottom:100px;
    left:10px;
    max-width:300px;
    height:max-content  ;
    padding:20px;
    background-color:#205295;
    border-radius:20px;
    color:white;
    /* box-shadow:0px 0px 30px 5px #23212993; */
    & button{
        position:absolute;
        top:4px;
        right:10px;
        font-size:18px;
        border:none;
        background:transparent;
        color:#232129;
        &:hover{
            cursor:pointer;
        }
    }
    z-index:1000;
}

.popup-content{
    margin-right:12px;
   & p{
    font-size:15px;
   }
}

